<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - serviceCar</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (ViewBag.methodUsed=="Login")
    {
        <link rel="stylesheet" href="~/css/Home/indexLogin.css"/>
        
    }
    @if(ViewBag.methodUsed=="ContactUs"){
        
        <link rel="stylesheet" href="~/css/Home/ContactUs/animate.css" />
        <link rel="stylesheet" href="~/css/Home/ContactUs/animsition.css" />
        <link rel="stylesheet" href="~/css/Home/ContactUs/daterangepicker.css"/>
        <link rel="stylesheet" href="~/css/Home/ContactUs/hamburgers.css"/>
        <link rel="stylesheet" href="~/css/Home/ContactUs/main.css"/>
        <link rel="stylesheet" href="~/css/Home/ContactUs/select2.css"/>
        <link rel="stylesheet" href="~/css/Home/ContactUs/util.css"/>
    }
       <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>
    </environment>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">serviceCar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - serviceCar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if(ViewBag.methodUsed=="ContactUs"){
        <script src="~/js/Home/ContactUs/animsition.js"></script>
        <script src="~/js/Home/ContactUs/daterangepicker.js"></script>
        <script src="~/js/Home/ContactUs/select2.js"></script>
        <script src="~/js/Home/ContactUs/additionalScript.js"></script>
        <script src="~/js/Home/ContactUs/beacon.js"></script>
        <script src="~/js/Home/ContactUs/countdowntime.js"></script>
        <script src="~/js/Home/ContactUs/js.js"></script>
        <script src="~/js/Home/ContactUs/main.js"></script>
        
        <script src="~/js/Home/ContactUs/moment.js"></script>
    }
    <environment include="Development">
        <script src="~/lib/font-awesome/js/all.js"></script>
        <script src="~/lib/font-awesome/js/fontawesome.js"></script>
    </environment>
    <environment exclude="Development">
        <script href="~/lib/font-awesome/js/all.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)

</body>
</html>
